

$primary-color: rgb(2, 69, 7);
$secondary-color: rgb(25, 246, 5);
$tertiary-color: rgb(205, 204, 10);
$primary-tex-color:rgb(280, 150, 260);
$font-stack: 'Oswald', sans-serif;

body{
    background-color: bisque;
    margin: 0;
    padding: 0; 

}

nav{
    background-color: $primary-color;
    width: 100%;
    height : 100px;

}
main{
    background-color: $primary-color;
}

footer{
    $background:rgb(235, 31, 171);
    background-color: $background;
    width: 100%;
    height:25px;
}